.navItem {
  width: 200px;
  height: 80px;
}
.navItem a {
  width: 200px;
  height: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 10px;
}
.navItem svg {
  width: 32px;
  height: 32px;
}
.navItem svg path {
  fill: #dc4d41;
}
.navItem p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  color: #dc4d41;
}
.active {
  background-color: #fbc262;
}