.navItem {
  width: auto;
  height: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  cursor: pointer;
}
.navItem svg {
  width: 32px;
  height: 32px;
}
.navItem svg path {
  fill: #fbb540;
}
.navItem a {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  color: #fbb540;
  text-decoration: none;
}