.container {
  width: 100vw;
  height: calc(100vh - 240px);
  display: grid;
  justify-content: center;
  overflow-y: scroll;
}
.display {
  width: 420px;
  height: auto;
  display: grid;
  align-content: end;
}