.container {
  width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #dc4d41;
}
.priceDisplay {
  display: grid;
  justify-content: center;
  align-content: center;
}
.controlPanel {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}