.container {
  width: calc(100vw - 300px);
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 300px;
  display: grid;
  justify-content: center;
  overflow-y: scroll;
}
.display {
  width: 420px;
  height: auto;
  display: grid;
  align-content: end;
}