.container {
  width: 300px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  background-color: #dc4d41;
  overflow-y: scroll;
}
.priceDisplay {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  grid-gap: 20px;
}
.controlPanel {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  grid-gap: 20px;
}